body {
	background-image: url(../images/background.png);
}

.pick-one {
	float: left;
	width: 200px;
}

label {
	position: relative;
	clear: left;
	float: left;
	width: 15em;
}

input {
	background-color: #FFF7E7;
	height: 15px;
	margin: 0 5px 10px 0;
}

textarea {
	background-color: #FFF7E7;
}

.info-entry {
	margin-left: 200px;

}

.address {
	width: 400px;
	clear: both;
} 